<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags for Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Milind Agarwal">
  <meta name="description" content="Filtering Module">
  <title>Filtering- WES</title>

  <!-- <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"> -->
  <!-- Bootstrap CDN CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Stylesheet Link in Title -->
  <link rel="stylesheet" href="../static/css/styles.css">


</head>

<body class="bg-light">
  <header>

    <!-- Sample code to check if Bootstrap files have been linked
    <button type="submit" class="btn btn-success" name="button">This is a button</button> -->
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">WebSeq Lite </a>
        </div>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>Family Based NGS Analysis </b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/clean">Cleaning and Prefiltering</a>
              <a class="dropdown-item" href="annotate">Annotation</a>
              <a class="dropdown-item" href="filtering">Filtering by Allele Frequency</a>
              <a class="dropdown-item" href="modes">Modes of Inheritance</a>

            </div>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

  </header>

  <section class="jumbotron text-center" style='background-image: url("/static/images/famJumbo.png"); background-position: center center;background-repeat: no-repeat;  background-size: cover;height:13em'>

    <div class="container">
      <h1 class="jumbotron-heading">Filtering by Allele Frequency</h1>
      <div align="right">
        <a href="modes">
          <button class="btn btn-primary float-right nextbut" type="button" name="button"> Skip </button>
        </a>

        <!-- <a href="annotate">
          <button class="btn btn-primary float-right backbut" type="button" name="button"> Back </button>
        </a> -->
      </div>
    </div>
  </section>
  <!-- method="post"  -->

  <form id="filterform" action="/filteringurl" method="POST" enctype="multipart/form-data">
    <div class="container uploaderArea">
      <div class="contaner row ">
        <div class="col-sm-6  ">
          <div class="upload-btn-wrapper">
            <button class="mybtn">Upload files</button>
            <input id="filterupload" type="file" name="filterfile" multiple>
          </div>
          <br />Selected files:
          <div id="filterPushFileList"></div>
          <div id="filterFileList"></div>
          <br><br>
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
        Oops! Looks like <strong>you selected an unsupported file.</strong> Make sure you only have CSV or XLSX files selected.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
        </div>
        </div>
        <div class="col-sm-6">

          This page supports filtering of variants according to their reported minor allele frequencies in the gnomAD database. <br><br> The user may choose different types of reference data within gnomAD, for example all gnomAD exome data (gnomAD_exome_ALL), or population-specific reference data, for example Ashkenazi Jewish individuals’ exome data (gnomAD_exome_ASJ). <br><br>Please refer to the gnomAD website (https://gnomad.broadinstitute.org) for further information about the gnomAD database.
          <br><br><br>
          When Filtering by Allele Frequency is finished, download the results to archive a copy, and then push the results forward to the next step in this module (Modes of Inheritance).


        </div>

      </div>

    </div>
    <br>
    <br>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-6">
          <table>
            <th>
              <tr id="gdiRowElement">
                <td>GDI</td>
                <td>&nbsp &lt &nbsp</td>
                <td><input id="gdi_threshold" type="text" name="gdiThreshold" multiple></td>
              </tr>
              <tr>
                  <td> <h6 class="text-dark"><b>Minor Allele Frequency</b> </h6></td>
              </tr>
              <tr>
                <td><select class="form-control" id="sel1" name="mafColumns">
                    <option>gnomAD_exome_ALL</option>
                    <option>gnomAD_exome_AFR</option>
                    <option>gnomAD_exome_AMR</option>
                    <option>gnomAD_exome_ASJ</option>
                    <option>gnomAD_exome_EAS</option>
                    <option>gnomAD_exome_FIN</option>
                    <option>gnomAD_exome_NFE</option>
                    <option>gnomAD_exome_OTH</option>
                    <option>gnomAD_exome_SAS</option>

                    <option>gnomAD_genome_ALL</option>
                    <option>gnomAD_genome_AFR</option>
                    <option>gnomAD_genome_AMR</option>
                    <option>gnomAD_genome_ASJ</option>
                    <option>gnomAD_genome_EAS</option>
                    <option>gnomAD_genome_FIN</option>
                    <option>gnomAD_genome_NFE</option>
                    <option>gnomAD_genome_OTH</option>

                  </select></td>
                <td> &nbsp &lt &nbsp </td>
                <!-- <td> <input id="maf_threshold" type="text" name="mafThreshold" multiple></td> -->
                  <div class="range-slider">
                    <td>
                    <input id="maf_threshold"  name="mafThreshold" class="range-slider__range" type="range" value="0.05" min="0" max="1" step="0.001" multiple>
                    </td>
                    <td>  <input id= "value" type= "text" value="0.05" class="range-slider__value"></td>
                  </div>

              </tr>


            </th>

          </table>
          <br>
          <p class="text-dark">  For example,<br>
            A value of <b>0.05</b> = Minor Allele Frequency of <b>5%</b> in gnomAD <sup>1</sup>.</p>


        </div>
      </div>


    </div>
    <br />
    <br />

    <div class="container">
      <!-- type="submit" -->
      <button type="button" id="filterbutton" class="btn btn-primary" name="button" value="Filter"> Submit </button>
    </div>
  </form>

  <div class="container">
    <br />
    <h6>Status </h6>
    <div>

      <span class="notstarted"> Process not started yet.</span>

      <span class="inprogress"> In Progress </span>

      <span class="failed"> Failed. Try again, or check with developer.</span>

      <span class="completed"> Finished! Go ahead and download your filtered files. </span>
    </div>
  </div>


  <div class="container">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>




  <div class="container">
    <!-- type="submit" -->
    <br />
    <button type="button" id="download_filterbutton" class="btn btn-success" name="button" value="Download"> Download </button>
    <a href="modes">
      <button type="button" id="push_filterbutton" class="btn btn-primary" name="button" value="Push"> Push results to next stage </button>
    </a>
  </div>
<br><br>
  <div class="container">
    <!-- <div class="card card-body" style="background-color: #DCDCDC	;"> -->
      <b><span class="text-dark">References: </span></b>
         <p class="text-muted">
           Karczewski K., et al., <a  target="_blank" href="https://www.biorxiv.org/content/10.1101/531210v2">Variation across 141,456 Human Exomes and Genomes Reveals the Spectrum of Loss-of-Function Intolerance across Human Protein-Coding Genes. </a>BioRxiv, 2019.

    <!-- </div> -->
  </div>


  <br><br><br><br>
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">WebSeq Lite – Designed and developed by Milind Agarwal, Rayz Ghimire and Janet Markle @Markle Lab
    </div>
    <!-- Copyright -->

  </footer>
  <br><br>

  <!-- Bootstrap Required JavaScipt and JQuery dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

  <script src="../static/js/papaparse.min.js" charset="utf-8"></script>
  <script src="../static/js/download2.js" charset="utf-8"></script>

  <script src="../static/js/index.js" charset="utf-8"></script>


</body>

</html>
